<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/935e88e4-cc17-41c6-9c94-02028f77139e/resourceGroups/BackEnd20210615010502ResourceGroup/providers/Microsoft.Web/sites/workerAPIScamilo2021</ResourceId>
    <ResourceGroup>BackEnd20210615010502ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/935e88e4-cc17-41c6-9c94-02028f77139e/resourceGroups/BackEnd20210615010502ResourceGroup/providers/Microsoft.ApiManagement/service/BackEndapiworker/apis/BackEndworkerAPIScamilo</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://workerapiscamilo2021.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>7713327a-4f08-4508-9632-9bbf43d88ece</ProjectGuid>
    <MSDeployServiceURL>workerapiscamilo2021.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>workerAPIScamilo2021</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$workerAPIScamilo2021</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>